@model IEnumerable<Freezer_MVC.Models.Food>

@{
    ViewData["Title"] = "Index";
}

<h1>Inhalt</h1>

<div id="foodGrid"></div>

@section Scripts
{
    <script type="text/javascript">
        $("#foodGrid").dxDataGrid({     
        dataSource: DevExpress.data.AspNet.createStore({
            key: "Id",
            loadUrl: '@(Url.Action("Get", "FoodApi"))'
        }),
        remoteOperations: true,   
        columns: [
            {
                dataField: "Id",
                caption: "Id"
            },
            {
                dataField: "Name",
                caption: "Name"
            }
        ],
        filterRow: {
            visible: true
        },
        headerFilter: {
            visible: true
        },
        groupPanel: {
            visible: true
        },
        scrolling: {
            mode: "virtual"
        },
        height: 600,
        editing: {
            allowAdding: false,
            allowUpdating: false,
            allowDeleting: false
        }
    });
    </script>
}